*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #222;
  color: white;
}

.card{
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg,#00feba,#5b548a);
  color: #fff;
  text-align: center;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
}

.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input{
  border-radius: 20px;
  height: 60px;
  font-size: 18px;
  border: 0;
  outline: 0;
  padding: 10px 25px;
  background:#ebfffc ;
  color: #555;
  flex: 1;
  margin-right: 17px;
}

.search button{
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search button img{
  width: 16px;
}

.weather-icon{
  width: 180px;
  margin-top: 30px;
}

.weather h1{
  font-size: 90px;
  font-weight: 550;
}
.weather h2{
  font-size: 45px;
  font-weight: 300;
}


.details{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-between;
  align-items: flex-start;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}
.col img{
  width: 45px;
  margin-right: 10px;
}
.humidity,.wind{
  font-size: 28px;
  margin-top:-6px;
}